@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  font-family: Roboto, sans-serif;
  background: #eceffc;
}

.upload {
  --btn-color: #3bafda;
  --progress-color: #2d334c;
  --ease-in-out-quartic: cubic-bezier(0.77, 0, 0.175, 1);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: white;
  border-radius: 10px;
  -webkit-box-shadow: 0 1.7px 1.4px rgba(0, 0, 0, 0.02), 0 4px 3.3px rgba(0, 0, 0, 0.028), 0 7.5px 6.3px rgba(0, 0, 0, 0.035), 0 13.4px 11.2px rgba(0, 0, 0, 0.042), 0 25.1px 20.9px rgba(0, 0, 0, 0.05), 0 60px 50px rgba(0, 0, 0, 0.07);
          box-shadow: 0 1.7px 1.4px rgba(0, 0, 0, 0.02), 0 4px 3.3px rgba(0, 0, 0, 0.028), 0 7.5px 6.3px rgba(0, 0, 0, 0.035), 0 13.4px 11.2px rgba(0, 0, 0, 0.042), 0 25.1px 20.9px rgba(0, 0, 0, 0.05), 0 60px 50px rgba(0, 0, 0, 0.07);
  overflow: hidden;
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.upload__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px;
  margin-right: 40px;
}

.upload__filename {
  padding-left: 8px;
}

.upload__button {
  position: relative;
  padding: 16px;
  margin: 0;
  font-size: 100%;
  font-family: inherit;
  color: white;
  background: none;
  border: none;
  border-radius: inherit;
  outline: none;
  cursor: pointer;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.upload__button::before {
  position: absolute;
  content: "";
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--btn-color);
  border-radius: inherit;
  -webkit-transform-origin: right;
          transform-origin: right;
}

.upload__hint {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  color: white;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.upload__progress {
  position: absolute;
  content: "";
  top: 90%;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  color: white;
  background: var(--progress-color);
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.upload__progress .check {
  stroke-dasharray: 16px;
  stroke-dashoffset: 16px;
  margin-right: 6px;
}

.upload.uploading .upload__button {
  -webkit-animation: expand 0.3s forwards;
          animation: expand 0.3s forwards;
}

.upload.uploading .upload__button::before {
  -webkit-animation: fill-left 1.2s 0.4s var(--ease-in-out-quartic) forwards;
          animation: fill-left 1.2s 0.4s var(--ease-in-out-quartic) forwards;
}

.upload.uploading .upload__info > *,
.upload.uploading .upload__button__text {
  -webkit-animation: fade-up-out 0.4s 0.4s forwards;
          animation: fade-up-out 0.4s 0.4s forwards;
}

.upload.uploading .upload__hint {
  -webkit-animation: fade-up-in 0.4s 0.8s forwards;
          animation: fade-up-in 0.4s 0.8s forwards;
}

.upload.uploading .upload__progress {
  -webkit-animation: fill-right 2s 1s var(--ease-in-out-quartic) forwards;
          animation: fill-right 2s 1s var(--ease-in-out-quartic) forwards;
}

.upload.uploaded .upload__progress {
  -webkit-animation: slide-up 1s var(--ease-in-out-quartic) forwards;
          animation: slide-up 1s var(--ease-in-out-quartic) forwards;
}

.upload.uploaded .upload__progress .check {
  -webkit-animation: stroke-in 0.6s 0.4s var(--ease-in-out-quartic) forwards;
          animation: stroke-in 0.6s 0.4s var(--ease-in-out-quartic) forwards;
}

.upload.uploaded-after .upload__info {
  -webkit-animation: slide-down-info 1s var(--ease-in-out-quartic) forwards;
          animation: slide-down-info 1s var(--ease-in-out-quartic) forwards;
}

.upload.uploaded-after .upload__button {
  -webkit-animation: slide-down-button 1s var(--ease-in-out-quartic) forwards;
          animation: slide-down-button 1s var(--ease-in-out-quartic) forwards;
}

.upload.uploaded-after .upload__progress {
  -webkit-animation: slide-down-progress 1s var(--ease-in-out-quartic) forwards;
          animation: slide-down-progress 1s var(--ease-in-out-quartic) forwards;
}

@-webkit-keyframes expand {
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes expand {
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes fill-left {
  to {
    -webkit-transform: scale(4, 1.2);
            transform: scale(4, 1.2);
  }
}

@keyframes fill-left {
  to {
    -webkit-transform: scale(4, 1.2);
            transform: scale(4, 1.2);
  }
}

@-webkit-keyframes fade-up-out {
  to {
    opacity: 0;
    -webkit-transform: translateY(-40%);
            transform: translateY(-40%);
  }
}

@keyframes fade-up-out {
  to {
    opacity: 0;
    -webkit-transform: translateY(-40%);
            transform: translateY(-40%);
  }
}

@-webkit-keyframes fade-up-in {
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fade-up-in {
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes fill-right {
  to {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes fill-right {
  to {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@-webkit-keyframes slide-up {
  from {
    -webkit-transform: scaleX(1) translateY(0);
            transform: scaleX(1) translateY(0);
  }
  to {
    -webkit-transform: scaleX(1) translateY(-90%);
            transform: scaleX(1) translateY(-90%);
  }
}

@keyframes slide-up {
  from {
    -webkit-transform: scaleX(1) translateY(0);
            transform: scaleX(1) translateY(0);
  }
  to {
    -webkit-transform: scaleX(1) translateY(-90%);
            transform: scaleX(1) translateY(-90%);
  }
}

@-webkit-keyframes stroke-in {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes stroke-in {
  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes slide-down-info {
  from {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slide-down-info {
  from {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes slide-down-button {
  from {
    -webkit-transform: scale(0.9) translateY(-100%);
            transform: scale(0.9) translateY(-100%);
  }
  to {
    -webkit-transform: scale(0.9) translateY(0);
            transform: scale(0.9) translateY(0);
  }
}

@keyframes slide-down-button {
  from {
    -webkit-transform: scale(0.9) translateY(-100%);
            transform: scale(0.9) translateY(-100%);
  }
  to {
    -webkit-transform: scale(0.9) translateY(0);
            transform: scale(0.9) translateY(0);
  }
}

@-webkit-keyframes slide-down-progress {
  from {
    -webkit-transform: scaleX(1) translateY(-90%);
            transform: scaleX(1) translateY(-90%);
  }
  to {
    -webkit-transform: scaleX(1) translateY(10%);
            transform: scaleX(1) translateY(10%);
  }
}

@keyframes slide-down-progress {
  from {
    -webkit-transform: scaleX(1) translateY(-90%);
            transform: scaleX(1) translateY(-90%);
  }
  to {
    -webkit-transform: scaleX(1) translateY(10%);
            transform: scaleX(1) translateY(10%);
  }
}
/*# sourceMappingURL=main.css.map */